/*
 * About
*/

.about {
	z-index: 11;
	@include center-flex;
	position: relative;
	height: 100vh;
	background-color: $brand-color1;

	.about-container {
		max-width: 640px;
		margin: 0 auto;
		text-align: center;

		p {
			line-height: 30px;
			text-transform: none;
		}

		.about-text {
			margin: 61px $space 0 $space;
		}

		.social-media-container {
			.social-media-icon {
				max-width: 82px;
				margin: 61px $space;
			}
		}
	}

	.anchor {
		max-width: $space;
		margin: $space;
	}
}
