/*
 * Photos
*/

.gallery {
	position: relative;
	z-index: 11;
	padding: $space;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: $space;

	.photo {
		z-index: 11;
		cursor: pointer;
		position: relative;
		transition: transform 1s;

		&:hover {
			.photo-info-container {
				padding: $space * 2;
				font-size: 14px;
				top: $space;
				left: $space;
				right: $space;
				bottom: $space;
				background-color: rgba(0, 0, 0, 0.71);

				.photo-info-content {
					margin-bottom: $space;
					display: flex;
					align-items: center;
				}

				.photo-info-icon {
					width: $space;
					margin-right: $space;
				}
			}
		}

		img {
			width: 100%;
		}

		.photo-info-container {
			position: absolute;
			font-size: 7px;
			top: $space;
			left: $space;

			.photo-info-icon {
				width: 10px;
				margin-right: 5px;
			}
		}
	}
}
