/*
 * Photos
*/

.gallery-container {
	z-index: 21;
	position: relative;

	.gallery {
		padding: $space;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
		grid-gap: $space;

		.photo {
			position: relative;
			transition: transform 1s;

			.lightbox-wrapper {
				.img-open {
					overflow: hidden;
					height: 200px;

					.photo-image {
						width: 100%;

						&:hover {
							.photo-info-container {
								padding: $space * 2;
								font-size: 14px;
								top: $space;
								left: $space;
								right: $space;
								bottom: $space;
								background-color: rgba(0, 0, 0, 0.71);

								.photo-info-content {
									margin-bottom: $space;
									display: flex;
									align-items: center;
								}

								.photo-info-icon {
									width: $space;
									margin-right: $space;
								}
							}
						}
					}
				}

				.lightbox {
					background: rgba(0, 0, 0, 0.92);

					.photo-image {
						margin: 0 auto;
					}

					img {
						max-height: 90vh;
					}
				}
			}

			.photo-info-container {
				position: absolute;
				font-size: 12px;
				top: $space;
				left: $space;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				color: $light;

				.photo-info-content {
					@include center-flex;
				}

				.photo-info-icon {
					width: 16px;
					margin-right: 6px;
					margin-bottom: 6px;
					margin-top: 6px;
				}
			}
		}
	}
}

.load-more {
	margin: $space auto;
	display: block;
	border: none;
	font-family: $font-main;
	text-transform: uppercase;
	background: transparent;
	color: $light;
	cursor: pointer;
	font-weight: 700;

	&:focus {
		outline: none;
	}
}
