/*
 * Color variables
*/
$dark: #262626;
$light: #fff;
$brand-color1: #161F2A;
$brand-color2: #0D3E52;
$brand-color3: #007590;
$brand-color4: #4FB8E5;
$brand-color5: $light;



/*
 * Font variables
*/
$font-main: 'Arial', sans-serif;
$font-headline: 'Cochin', serif;
$font-subheadline: 'Josefin Sans', sans-serif;
$font-code: 'Source Code Pro', monospace;



/*
 * Default settings
*/
$font-size: 16px;
$line-height: 140%;
$space: 20px;



/*
 * Device sizes
*/
$mobile: 768px;
$big-break: 1400px;
